{% assign description_width = '' %}
{% assign form_width = '' %}
{% case section.settings.layout %}
  {% when 'right' or 'left' %}
    {% assign description_width = 'large--one-half wow fadeInUp' %}
    {% assign form_width = 'large--one-half wow fadeInUp' %}
  {% when 'center' %}
    {% assign description_width = 'small--one-whole wow fadeInUp' %}
    {% assign form_width = 'small--one-whole wow fadeInUp' %}
{% endcase %}

{% capture contact-info %}
  <div class="grid__item {{ description_width }} contact-description">
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
{% endcapture %}

<div
  class=""
  data-wetheme-section-type="template--page-contact"
  data-wetheme-section-id="{{ section.id }}"
  data-maps-apikey="{{ section.settings.api_key | escape }}"
  data-maps-address="{{ section.settings.map_address | escape }}"
>

{% if section.settings.banner_image != blank %}

    {% capture contact_alt %}{{ section.settings.banner_image.alt | default: page.title }}{% endcapture %}

		{% if section.settings.banner-image-size == 'original' %}

		  {% render 'responsive-image' with section.settings.banner_image, alt: contact_alt | escape, class: 'contact-page--feature-image' %}

		{% else %}

      <style>
        {% if section.settings.banner_image != blank %}
          {% capture selector %}.banner-image .img{% endcapture %}
          {% render 'responsive-background-image' with section.settings.banner_image, selector: selector %}

          .banner-image .img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        {% endif %}

        .banner-image .img {
          height: {{ section.settings.banner-image-size }};
        }

        @media only screen and (min-width: 768px) {
          .banner-image .rellax.img {
            height: {{ section.settings.banner-image-size | remove:'vw' | times:1.5 | append:'vw' }};
            margin-top: {{ section.settings.banner-image-size | remove:'vw' | times:-0.6 | append:'vw' }};
          }
        }

        .parallax.banner-image-parallax {
          height: {{ section.settings.banner-image-size }};
        }
      </style>

      {% capture image_layout %}
        <div class="banner-image">
            <div class="contact-page--feature-image {% if section.settings.parallax %} parallax banner-image-parallax{% endif %}">
              <div id="rellax--banner-image" class="img{% if section.settings.parallax %} rellax{% endif %}" data-rellax-percentage="0.5" data-rellax-speed="-4" role="img" aria-label="{{ contact_alt | escape }}"></div>
            </div>
        </div>
      {% endcapture %}

      {{ image_layout }}

		{% endif %}
	{% else %}
		<div class="no-contact-img"></div>
{% endif %}

<div class="wrapper">
  <div class="grid page-main--wrapper">

    <div class="grid__item">
      <div class="sitewide--title-wrapper">

        <h1 class="page--title">{{ page.title }}</h1>
      </div>
    </div>

    {% if section.settings.layout == 'right' or  section.settings.layout == 'below' %}
      {{ contact-info }}
    {% endif %}

    <div class="grid__item {{ form_width }} contact-form">
      {% comment %}
        Contact form starts here
      {% endcomment %}
      <div class="form-vertical">
        {% form 'contact' %}

          {% comment %}
            Successful message
          {% endcomment %}
          {% if form.posted_successfully? %}
            <p class="note form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}

          {{ form.errors | default_errors }}

          {% if section.blocks.size == 0 %}
    				<div class="placeholder-noblocks">
    				  {{ 'general.onboarding.no_content' | t }}
    				</div>
    			{% endif %}

          {% for block in section.blocks %}
            {% case block.settings.field-type %}

              {% when 'text' %}
                {% if block.settings.form-field-label != blank %}
                  {% assign form-field-label = block.settings.form-field-label %}
                {% else %}
                  {% assign form-field-label = 'contact.form.name' | t %}
                {% endif %}
                <label for="ContactForm{{ form-field-label | replace: " ", "-" | capitalize }}" class="hidden-label">{% if block.settings.form-field-label != blank %}{{ form-field-label }}{% else %}{{ 'contact.form.name' | t }}{% endif %}</label>
                <input type="text" id="ContactForm{{ form-field-label | replace: " ", "" | upcase }}" class="input-full" name="contact[{{ form-field-label | replace: " ", "-" | downcase }}]" placeholder="{{ form-field-label }}{% if block.settings.required %}*{% endif %}" autocapitalize="words" value="{{ form[form-field-label] }}"{% if block.settings.required %} required{% endif %}>

              {% when 'email' %}
                {% if block.settings.form-field-label != blank %}
                  {% assign form-field-label = block.settings.form-field-label %}
                {% else %}
                  {% assign form-field-label = 'contact.form.email' | t %}
                {% endif %}
                <label for="ContactForm{{ form-field-label | replace: " ", "-" | capitalize }}" class="hidden-label">{% if block.settings.form-field-label != blank %}{{ form-field-label }}{% else %}{{ 'contact.form.email' | t }}{% endif %}</label>
                <input type="email" id="ContactForm{{ form-field-label | replace: " ", "" | upcase }}" class="input-full" name="contact[email]" placeholder="{{ form-field-label }}{% if block.settings.required %}*{% endif %}" autocorrect="off" autocapitalize="off" value="{% if customer %}{{ customer.email }}{% else %}{{ form[form-field-label] }}{% endif %}"{% if block.settings.required %} required{% endif %}>
              {% when 'phone' %}
                {% if block.settings.form-field-label != blank %}
                  {% assign form-field-label = block.settings.form-field-label %}
                {% else %}
                  {% assign form-field-label = 'contact.form.phone' | t %}
                {% endif %}
                <label for="ContactForm{{ form-field-label | replace: " ", "-" | capitalize }}" class="hidden-label">{% if block.settings.form-field-label != blank %}{{ form-field-label }}{% else %}{{ 'contact.form.phone' | t }}{% endif %}</label>
                <input type="tel" id="ContactForm{{ form-field-label | replace: " ", "" | upcase }}" class="input-full" name="contact[{{ form-field-label | replace: " ", "-" | downcase }}]" placeholder="{{ form-field-label }}{% if block.settings.required %}*{% endif %}" pattern="[0-9\-]*" value="{% if customer %}{{ customer.phone }}{% else %}{{ form[form-field-label] }}{% endif %}"{% if block.settings.required %} required{% endif %}>

              {% when 'textbox' %}
                {% if block.settings.form-field-label != blank %}
                  {% assign form-field-label = block.settings.form-field-label %}
                {% else %}
                  {% assign form-field-label = 'contact.form.message' | t %}
                {% endif %}
                <label for="ContactForm{{ form-field-label | replace: " ", "-" | capitalize }}" class="hidden-label">{% if block.settings.form-field-label != blank %}{{ form-field-label }}{% else %}{{ 'contact.form.message' | t }}{% endif %}</label>
                <textarea rows="10" id="ContactForm{{ form-field-label | replace: " ", "" | upcase }}" class="input-full" name="contact[{{ form-field-label | replace: " ", "-" | downcase }}]" placeholder="{{ form-field-label }}{% if block.settings.required %}*{% endif %}"{% if block.settings.required %} required{% endif %}>{{ form[form-field-label] }}</textarea>

            {% endcase %}
          {% endfor %}

          {% if section.blocks.size > 0 %}
            {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
            <div class="contact-form--submit-button">
                  <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">
            </div>
          {% endif %}
        {% endform %}
      </div>

    </div>

    {% if section.settings.layout == 'left' %}
      {{ contact-info }}
    {% endif %}
  </div>
</div>

{% if section.settings.show-map %}

<div class="grid">
  {% if section.settings.api_key != blank and section.settings.map_address != blank %}
    {% assign map_visible = true %}
  {% else %}
    {% assign map_visible = false %}
  {% endif %}
  <div class="grid__item map-container">
    <div class="map-wrapper" data-id="{{ section.id }}">

      <input type="hidden" id="apikey-{{ section.id }}" value="{{ section.settings.api_key | escape }}" />
      <script type="application/json" id="homepage-map--theme--{{ section.id }}" class="map-theme">
        []
      </script>

      {% if map_visible %}
          <div id="map-container-{{ section.id }}"
               class="map-section__container"
               data-map
               data-address-setting="{{ section.settings.map_address | escape }}"
               >
          </div>
          <div class="map-section__overlay" data-map-overlay></div>
      {% endif %}
      {% if section.settings.background_image != blank %}
        {% capture map_alt %}{{ section.settings.background_image.alt | default: page.title }}{% endcapture %}
        <div class="homepage-map--image-container img homepage-map--fallback{% if map_visible %} hide{% endif %}" role="img" aria-label="{{ map_alt | escape }}"></div>
      {% else %}
        <div class="homepage-map--placeholder-container img placeholder-background homepage-map--fallback{% if map_visible %} hide{% endif %}">
          {{ 'lifestyle-1' | placeholder_svg_tag: 'icon icon--placeholder' }}
        </div>
      {% endif %}

    </div>
  </div>
</div>
{% endif %}

</div>

<style>

{% if section.settings.background_image != blank %}
  {% capture selector %}.map-container .img{% endcapture %}
  {% render 'responsive-background-image' with section.settings.background_image, selector: selector %}
  .map-container .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
{% endif %}

#map-container-{{ section.id }},
.map-container .img,
.map-container .img .icon--placeholder {
    height: {{ section.settings.height }};
  }

  /* Hide Google Links */
  .gmnoprint a, .gmnoprint span, .gm-style-cc {
      display:none;
  }
  .gmnoprint div {
      background:none !important;
  }

</style>

<script>

var theme = {
    strings: {
      addressError: {{ 'sections.map.address_error' | t | json }},
      addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
      authError: {{ 'sections.map.auth_error_html' | t | json }}
    }
}
</script>

{% schema %}
{
    "name": {
        "en": "Contact Page",
        "de": "Kontaktseite",
        "es": "Contact Page",
        "fr": "Page de contact",
        "pt-PT": "Página de Contacto"
    },
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Feature image",
                "de": "Hervorgehobenes Bild",
                "es": "Destacar imagen",
                "fr": "Image en vedette",
                "pt-PT": "Imagem em destaque"
            }
        },
        {
            "type": "image_picker",
            "id": "banner_image",
            "label": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "info": {
                "en": "Recommended 2000px x 600px",
                "de": "2000 px x 600 px empfohlen",
                "es": "Recomendado: 2000px x 600px",
                "fr": "2000 x 600 px recommandé",
                "pt-PT": "2000px x 600px (recomendado)"
            }
        },
        {
            "type": "select",
            "id": "banner-image-size",
            "label": {
                "en": "Image size",
                "de": "Bildgröße",
                "es": "Tamaño de la imagen",
                "fr": "Taille de l'image",
                "pt-PT": "Tamanho da imagem"
            },
            "options": [
                {
                    "value": "20vh",
                    "label": {
                        "en": "Small",
                        "de": "Klein",
                        "es": "Pequeño",
                        "fr": "Petite",
                        "pt-PT": "Pequeno"
                    }
                },
                {
                    "value": "30vh",
                    "label": {
                        "en": "Medium",
                        "de": "Mittel",
                        "es": "Mediano",
                        "fr": "Moyenne",
                        "pt-PT": "Médio"
                    }
                },
                {
                    "value": "40vh",
                    "label": {
                        "en": "Large",
                        "de": "Groß",
                        "es": "Grande",
                        "fr": "Grande",
                        "pt-PT": "Grande"
                    }
                },
                {
                    "value": "original",
                    "label": {
                        "en": "Original",
                        "de": "Original",
                        "es": "Original",
                        "fr": "D'origine",
                        "pt-PT": "Original"
                    }
                }
            ],
            "default": "20vh"
        },
        {
            "type": "checkbox",
            "id": "parallax",
            "label": {
                "en": "Enable parallax effect",
                "de": "Parallaxeneffekt aktivieren",
                "es": "Habilitar efecto de paralaje",
                "fr": "Activer l'effet parallaxe",
                "pt-PT": "Ativar efeito de paralaxe"
            },
            "default": true,
            "info": {
                "en": "Parallax won't be visible when the 'Image size' is set to 'Original'",
                "de": "Parallax wird nicht angezeigt, wenn die 'Bildgröße' auf 'Original' eingestellt ist",
                "es": "Parallax no estará visible cuando el 'Tamaño de la imagen' esté establecido como 'Original'",
                "fr": "La parallaxe ne sera pas visible lorsque la 'Taille de l'image' sera réglée sur 'D'origine'.",
                "pt-PT": "A paralaxe não será visível quando o \"Tamanho da imagem\" estiver definido como \"Original\""
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Layout",
                "de": "Layout",
                "es": "Diseño",
                "fr": "Mise en page",
                "pt-PT": "Apresentação"
            }
        },
        {
            "type": "select",
            "id": "layout",
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Left",
                        "de": "Links",
                        "es": "Izquierda",
                        "fr": "Gauche",
                        "pt-PT": "Esquerda"
                    }
                },
                {
                    "value": "below",
                    "label": {
                        "en": "Below",
                        "de": "Unterhalb",
                        "es": "Abajo",
                        "fr": "Ci-dessous",
                        "pt-PT": "Abaixo"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Right",
                        "de": "Rechts",
                        "es": "Derecha",
                        "fr": "Droite",
                        "pt-PT": "Direita"
                    }
                }
            ],
            "label": {
                "en": "Form position",
                "de": "Formularposition",
                "es": "Posición del formulario",
                "fr": "Position du formulaire",
                "pt-PT": "Posição do formulário"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Map",
                "de": "Karte",
                "es": "Mapa",
                "fr": "Carte",
                "pt-PT": "Mapa"
            }
        },
        {
            "type": "checkbox",
            "id": "show-map",
            "label": {
                "en": "Show map",
                "de": "Karte anzeigen",
                "es": "Mostrar mapa",
                "fr": "Afficher la carte",
                "pt-PT": "Mostrar mapa"
            },
            "default": false
        },
        {
            "type": "select",
            "id": "height",
            "label": {
                "en": "Height",
                "de": "Höhe",
                "es": "Altura",
                "fr": "Hauteur",
                "pt-PT": "Altura"
            },
            "default": "40vw",
            "options": [
                {
                    "value": "30vw",
                    "label": {
                        "en": "Small",
                        "de": "Klein",
                        "es": "Pequeño",
                        "fr": "Petite",
                        "pt-PT": "Pequeno"
                    }
                },
                {
                    "value": "40vw",
                    "label": {
                        "en": "Medium",
                        "de": "Mittel",
                        "es": "Mediano",
                        "fr": "Moyenne",
                        "pt-PT": "Médio"
                    }
                },
                {
                    "value": "50vw",
                    "label": {
                        "en": "Large",
                        "de": "Groß",
                        "es": "Grande",
                        "fr": "Grande",
                        "pt-PT": "Grande"
                    }
                }
            ]
        },
        {
            "id": "map_address",
            "type": "text",
            "label": {
                "en": "Map address",
                "de": "Kartenadresse",
                "es": "Dirección en el mapa",
                "fr": "Adresse de la carte",
                "pt-PT": "Endereço do mapa"
            },
            "info": {
                "en": "Google Maps will find the exact location",
                "de": "Google Maps wird den genauen Standort finden",
                "es": "Google Maps encontrará la ubicación exacta",
                "fr": "Google Maps trouvera l'emplacement exact",
                "pt-PT": "O Google Maps irá encontrar a localização exata"
            },
            "default": {
                "en": "80 Spadina Ave, Toronto",
                "de": "80 Spadina Ave, Toronto",
                "es": "80 Spadina Ave, Toronto",
                "fr": "80, avenue Spadina, Toronto",
                "pt-PT": "80 Spadina Ave, Toronto"
            }
        },
        {
            "id": "api_key",
            "type": "text",
            "label": {
                "en": "Google Maps API key",
                "de": "Google Maps API-Schlüssel",
                "es": "Llave API Google Maps",
                "fr": "Clé API de Google Maps",
                "pt-PT": "Chave API do Google Maps"
            },
            "info": {
                "en": "You’ll need to [register a Google Maps API Key](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) to display the map",
                "de": "Sie müssen [einen Google Maps API-Schlüssel registrieren](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key), um die Karte anzuzeigen",
                "es": "Necesita [registrar una llave API de Google Maps](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) para mostrar el mapa",
                "fr": "Vous devrez [enregistrer une clé API de Google Maps](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) pour afficher la carte.",
                "pt-PT": "Tem de [registar uma chave API do Google Maps](https://help.shopify.com/manual/using-themes/troubleshooting/map-section-api-key) para visualizar o mapa"
            }
        },
        {
            "type": "image_picker",
            "id": "background_image",
            "label": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "info": {
                "en": "Displayed if the map isn’t loaded",
                "de": "Angezeigt, wenn die Karte nicht lädt",
                "es": "Se mostrará si el mapa no se carga",
                "fr": "Affiché si la carte n'est pas chargée",
                "pt-PT": "Exibido se o mapa não carregar"
            }
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": {
                "en": "Form field",
                "de": "Formularfeld",
                "es": "Campo del formulario",
                "fr": "Champ du formulaire",
                "pt-PT": "Campo do formulário"
            },
            "settings": [
                {
                    "type": "select",
                    "id": "field-type",
                    "options": [
                        {
                            "value": "text",
                            "label": {
                                "en": "Text",
                                "de": "Text",
                                "es": "Texto",
                                "fr": "Texte",
                                "pt-PT": "Texto"
                            }
                        },
                        {
                            "value": "email",
                            "label": {
                                "en": "Email",
                                "de": "E-Mail-Adresse",
                                "es": "Correo electrónico",
                                "fr": "Courriel",
                                "pt-PT": "Email"
                            }
                        },
                        {
                            "value": "phone",
                            "label": {
                                "en": "Phone",
                                "de": "Telefon",
                                "es": "Teléfono",
                                "fr": "Téléphone",
                                "pt-PT": "Telemóvel"
                            }
                        },
                        {
                            "value": "textbox",
                            "label": {
                                "en": "Textbox",
                                "de": "Textbox",
                                "es": "Cuadro de texto",
                                "fr": "Zone de texte",
                                "pt-PT": "Caixa de texto"
                            }
                        }
                    ],
                    "label": {
                        "en": "Field type",
                        "de": "Feldtyp",
                        "es": "Tipo de campo",
                        "fr": "Type de champ",
                        "pt-PT": "Tipo de campo"
                    }
                },
                {
                    "type": "text",
                    "id": "form-field-label",
                    "label": {
                        "en": "Label",
                        "de": "Beschriftung",
                        "es": "Etiqueta",
                        "fr": "Étiquette",
                        "pt-PT": "Etiqueta"
                    }
                },
                {
                    "type": "checkbox",
                    "id": "required",
                    "label": {
                        "en": "Required",
                        "de": "Pflichtfeld",
                        "es": "Obligatorio",
                        "fr": "Requis",
                        "pt-PT": "Obrigatório"
                    }
                }
            ]
        }
    ]
}
{% endschema %}
