{% comment %}
    Use this snippet to add a responsive image to page.

    Specify Shopify image you want to make responsive in the "with" parameter (see examples below).

    You can use following variables to customize the image
    * default_size: size of placeholder image until full image is loaded (default: '150x')
    * class: additional classes to be applied to an image
    * alt: alt text for the image
    * blur: set to false to disable blurring image when loading (default: true), or set to "center" if the image is centered
    * props: additional properties for the <img /> tag (data-, id, etc.)
    * styles: additional styles (will go into `style="..."` property)
    * crop: use crop to specify how the image should be cropped when it's too big
    * force_height: number of pixels the image should have vertically, without stretching
    * force_aspect: override image aspect ratio (usually set to 1 to force square images)
    * allow_stretch: allow upscaling the image to fit container (disabled by default)

    Usage:
    {% render 'responsive-image' with product.image, class: 'product-image', alt: 'A simple product', default_size: '300x', props: 'data-id="1"' %}
{% endcomment %}

{% if default_size == blank %}
    {% assign default_size = '150x' %}
{% endif %}

{% if blur == nil %}
    {% assign blur = true %}
{% endif %}

{% if crop == blank %}
  {% assign default_src = responsive-image | img_url: '1000x1000' %}
  {% assign responsive_img_url = default_src | replace: '_1000x1000.', '_{width}.' %}
  {% assign src = responsive-image | img_url: default_size %}
{% else %}
  {% assign default_src = responsive-image | img_url: '1000x1000', crop: crop %}
  {% assign responsive_img_url = default_src | replace: '_1000x1000_', '_{width}_' %}
  {% assign src = responsive-image | img_url: default_size, crop: crop %}
{% endif %}

{%- capture divStyle -%}
    {%- if force_height %}height: {{ force_height }}px; {% endif -%}
    {%- if blur -%}position: relative;{%- endif -%}
{%- endcapture -%}
{%- capture divClass -%}
    lazyload-wrapper
    {%- if force_height %} lazyload-force-height{%- endif -%}
    {%- if blur %} lazyload-blur-wrapper{%- endif -%}
    {%- if blur == 'center' %} lazyload-blur-wrapper-center{%- endif -%}
    {{ wrapper_class -}}
{%- endcapture -%}

<div style="{{ divStyle }}" class="{{ divClass }}">

<noscript>
    <img
        class="{{ class }}"
        src="{{ default_src }}"
        data-sizes="auto"
        {% if alt %}
            alt="{{ alt | escape }}"
        {% else %}
            alt=""
        {% endif %}
        {{ props }}
    />
</noscript>

<img
    class="lazyload {{ class }}{% if crop %} lazyload-crop-{{ crop }}{% endif %}"
    src="{{ src }}"
    data-src="{{ responsive_img_url }}"
    data-sizes="auto"
    {% if blur %}
        data-lowsrc="{{ src }}"
        data-blur="true"
    {% endif %}
    data-aspectratio="{% if force_aspect %}{{ force_aspect }}{% else %}{{ responsive-image.aspect_ratio }}{% endif %}"
    {% if force_height %}
        data-force-height="{{ force_height }}"
    {% endif %}
    style="{% unless allow_stretch %}max-width: {{ responsive-image.width }}px; max-height: {{ responsive-image.height }}px; {% endunless %}{{ styles }}"
    {{ props }}
    {% if alt %}
        alt="{{ alt | escape }}"
    {% else %}
        alt=""
    {% endif %}
/>

</div>
